@font-face {
    font-family: "fuenteV";
    src: url("../Fuentes/Cocogoose Pro Semilight Italic-trial.ttf");
}

@font-face {
    font-family: "fuenteC";
    src: url("../Fuentes/coolvetica.otf");
}

@font-face {
    font-family: "fuenteP";
    src: url("../Fuentes/RomanSerif.ttf");
}

@font-face {
    font-family: "fuenteLink";
    src: url("../Fuentes/Cocogoose\ Pro\ Bold-trial.ttf");
}
